@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    /* fontes */
--font1:'Noto Sans', sans-serif;

/* cores */
--cor1: rgb(91, 91, 226);
--vermelho:  rgb(255, 44, 62);
--cinzaGelo: rgb(252, 252, 252)
}

body {
    /* #eecba6; */
    background-color: var(--cinzaGelo);
    font-family: var(--font1);
    color: black;
}

hr {
    color: rgba(0, 0, 0, 0.548);
    border: 0.5px solid; 
    margin: 5px -15px;
}

.principal, .divProjetos {
    padding: 20px;
}

.principal{
    display: flex;
    height: 85vh;
    align-items: center;
    justify-content: space-evenly;
}

.titulo, .subtituloMenor, .subtitulo{
    font-weight: 600;
    font-style: italic;
    
}

.titulo{
    font-size: 2.7em;
    padding: 5px;
    margin-left: 10px;
}

.tituloLand{
    background: var(--vermelho);
    background-size: contain;
    width: fit-content;
    margin-left: 0;
    margin-bottom: 20px;
}

.subtitulo{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 12px;
}

.subtituloMenor{
    font-size: 1.3em;
    margin: 10px 0px;
    
}

.imagemLand {
    height: 350px;
    box-shadow: black 10px 10px;
}

.icone{
    font-size: 1.7em;
    background-image: 
    linear-gradient(rgb(39, 72, 238),rgb(47, 38, 226), rgb(57, 37, 168) );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divProjetos{
    background-color: var(--cor1);
    padding: 20px;

}

.subtProj{
   color: black !important;
   background-color:var(--cinzaGelo);
   padding: 10px;
   width: fit-content;
   text-decoration: none !important;
}

.boneco{
    height: 1.3rem;
}

.imgProjeto{
    height: 250px;
    width: 400px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}

@media (min-width: 992px) {

    .imgProjeto{
        left: auto;
        transform:none;
        width: 30vw;
    }
    .sectProject{
        display: flex;
        justify-content: space-around;
    }
    .pProject{
        width: 30vw;
    }
    
}